<template name="homeBanner">
  <div class="jumbotron home-banner">
      <div class="container text-center">
          <h1>Want fluent English?</h1>
          <hr class="star-light three-star green">
          <p>Find some friends to help with practising.</p>
          <p>Can't find any? Don't worry, you can find partners on Bum.Chiu. Your English speaking skill will be improved in no time!</p>
          <p><a class="btn btn-primary btn-lg join" href="{{pathFor '/sign-up'}}" role="button">Get started now!</a></p>
      </div>
  </div>
</template>
