<template name="videoCall">
    <div class="wrapper-video">
        <div class="video-big">
            <video muted autoplay class="fullscreen-video" id="remote-video"></video>
        </div>
        <div class="video-small">
            <video muted autoplay class="mini-video" id="my-video"></video>
        </div>
        <div class="icon">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-danger cancel-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>